@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner CSS */
.blob {
  background: url("../assets/banner/IMG_0647.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 400px;
  box-shadow: 20px 20px 50px 5px rgba(59, 131, 246, 0.3);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 70% 70% 40% / 50% 60% 40% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* Featured Projects CSS */
.bg-featured {
  background-color: #3b82f6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1371%26quot%3b)' fill='none'%3e%3cpath d='M1815.132%2c829.296C1882.384%2c830.759%2c1951.291%2c801.875%2c1981.961%2c742.006C2010.727%2c685.854%2c1983.148%2c621.428%2c1948.695%2c568.575C1918.068%2c521.59%2c1871.205%2c487.288%2c1815.132%2c486.076C1756.906%2c484.818%2c1701.923%2c513.112%2c1671.181%2c562.577C1638.6%2c615.001%2c1631.105%2c680.692%2c1660.421%2c735.01C1691.164%2c791.972%2c1750.418%2c827.888%2c1815.132%2c829.296' fill='rgba(96%2c 165%2c 250%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M256.256%2c466.045C331.266%2c468.98%2c405.813%2c433.936%2c442.256%2c368.308C477.812%2c304.277%2c463.827%2c225.532%2c423.908%2c164.126C387.572%2c108.232%2c322.779%2c86.578%2c256.256%2c82.192C178.382%2c77.057%2c85.324%2c72.125%2c45.371%2c139.166C4.969%2c206.96%2c51.082%2c288.359%2c93.866%2c354.676C132.003%2c413.79%2c185.961%2c463.294%2c256.256%2c466.045' fill='rgba(96%2c 165%2c 250%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1716.976%2c1062.265C1765.725%2c1065.176%2c1812.67%2c1034.898%2c1833.439%2c990.699C1851.966%2c951.272%2c1830.84%2c907.9%2c1806.485%2c871.781C1785.626%2c840.847%2c1754.285%2c818.247%2c1716.976%2c817.981C1679.211%2c817.712%2c1644.448%2c837.978%2c1625.232%2c870.49C1605.665%2c903.597%2c1605.748%2c943.403%2c1622.344%2c978.095C1641.871%2c1018.912%2c1671.809%2c1059.568%2c1716.976%2c1062.265' fill='rgba(96%2c 165%2c 250%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M544.762%2c1039.389C628.85%2c1033.189%2c698.08%2c982.907%2c743.245%2c911.708C792.693%2c833.758%2c831.78%2c737.973%2c787.266%2c657.104C741.672%2c574.272%2c639.251%2c547.688%2c544.762%2c551.12C456.778%2c554.316%2c379.004%2c599.896%2c330.968%2c673.679C277.376%2c755.997%2c238.584%2c860.466%2c288.157%2c945.265C337.439%2c1029.566%2c447.377%2c1046.57%2c544.762%2c1039.389' fill='rgba(96%2c 165%2c 250%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M794.674%2c403.255C852.415%2c404.818%2c899.158%2c359.058%2c924.795%2c307.297C947.644%2c261.165%2c936.4%2c209.687%2c913.347%2c163.656C886.778%2c110.604%2c853.878%2c51.389%2c794.674%2c47.475C730.899%2c43.259%2c672.406%2c88.05%2c645.311%2c145.937C621.428%2c196.96%2c647.926%2c251.845%2c676.208%2c300.568C704.326%2c349.01%2c738.684%2c401.739%2c794.674%2c403.255' fill='rgba(96%2c 165%2c 250%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1371'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.2);
    border-color: rgba(59, 130, 246, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
    border-color: rgba(59, 130, 246, 0.6);
  }
  100% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.2);
    border-color: rgba(59, 130, 246, 0.3);
  }
}

.animate-border-glow {
  animation: glow 3s infinite ease-in-out;
}
